# Ignorar Carpetas
Ejercicio_Nivel1/
Taller1/data/
TallerOpcional1/
Nivel1_Transformacion-Validacion_Datos/
Taller1/venv_taller1/
Taller1/src/__pycache__/
Proyecto1/app/src/__pycache__/
Proyecto1/app/src/.ipynb_checkpoints_/
Proyecto1/app/src/.Trash-0/
Taller3/logs/
Taller3/__pycache__/
Taller3/plugins/
Taller3/API_read_models/app/__pycache__/
Taller3/API_read_models/app/logs/
Taller3/dags/__pycache__/