# Ignorar Carpetas
Ejercicio_Nivel1/
Taller1/data/
TallerOpcional1/
Nivel1_Transformacion-Validacion_Datos/
Taller1/venv_taller1/
Taller1/src/__pycache__/
Proyecto1/app/src/__pycache__/
Proyecto1/app/src/.ipynb_checkpoints_/
Proyecto1/app/src/.Trash-0/
Taller3/__pycache__/
Taller3/plugins/
Taller3/API_read_models/app/__pycache__/
Taller3/API_read_models/app/logs/
Taller3/dags/__pycache__/
Taller3/logs/dag_id=crear_tabla_mysql/
Taller3/logs/dag_id=dag_maestro/
Taller3/logs/dag_id=eliminar_tabla_mysql/
Taller3/logs/dag_id=entrenar_modelo_penguins/
Taller3/logs/dag_processor_manager/
Taller3/logs/scheduler/
Taller3/dags/__pycache__/
Taller3/plugins/
Taller3/logs/dag_id=clean_transform_data/
Taller3/logs/dag_id=load_data_mysql/
Taller3/logs/dag_id=train_model_penguins/
Taller3/API_read_models/app/__pycache__/
Taller3/API_read_models/app/logs/
Taller4/jupyter_api/jupyter_models/app/.ipynb_checkpoints/
Proyecto2/logs/dag_processor_manager/
Proyecto2/logs/scheduler/
Proyecto2/logs/dag_id=load_data_api/
Proyecto2/logs/dag_processor_manager/
Proyecto2/logs/scheduler/
Proyecto2/models/
Proyecto2/plugins/
Proyecto2/dags/__pycache__/
Proyecto2/logs/dag_id=dag_maestro/
Proyecto2/logs/dag_id=data_api/
Proyecto2/logs/dag_id=eliminar_tabla_mysql/
Proyecto2/logs/dag_id=fetch_and_store_data/
Proyecto2/minio/
Proyecto2/logs/dag_id=data_api/
Proyecto2/logs/dag_id=eliminar_tabla_mysql/
Proyecto2/logs/dag_processor_manager/
Proyecto2/logs/scheduler/
Proyecto2/logs/dag_id=dag_maestro/
Proyecto2/logs/dag_id=crear_tabla_mysql/
Proyecto2/jupyter_api/jupyter_models/app/.ipynb_checkpoints/
Taller5/api_read_models/app/__pycache__/
Taller5/dags/__pycache__/
Taller5/logs/dag_id=clean_transform_data/
Taller5/logs/dag_id=dag_maestro/
Taller5/logs/dag_id=fetch_and_store_data/
Taller5/logs/dag_id=iniciar_tabla_mysql/
Taller5/logs/dag_id=train_model/
Taller5/logs/dag_processor_manager/
Taller5/logs/scheduler/
Taller5/plugins/
Taller5/config/
Taller5/minio/
Taller5/minio/.minio.sys/
Proyecto3/Airflow/jupyter_api/jupyter_models/app/.ipynb_checkpoints/
Proyecto3/dags/__pycache__/
Proyecto3/logs/dag_processor_manager/
Proyecto3/logs/scheduler/
Proyecto3/plugins/
Proyecto3/logs/dag_id=fetch_and_store_diabetes_data/
Proyecto3/logs/dag_id=iniciar_tabla_mysql/
Proyecto3/logs/dag_id=read_diabetes_tables/
Proyecto3/Airflow/jupyter_api/jupyter_models/app/.Trash-0/
Proyecto3/Airflow/jupyter_api/jupyter_models/app/data/.ipynb_checkpoints/
Proyecto3/logs/dag_id=diabetes_data_pipeline/
Proyecto3/logs/dag_id=fetch_and_store_diabetes_data/
Proyecto3/logs/dag_id=iniciar_tabla_mysql/
Proyecto3/logs/dag_id=read_diabetes_tables/
Proyecto3/logs/dag_id=validate_diabetes_processed_tables/
Taller6/.pytest_cache/
Taller6/api/tests/__pycache__/
Taller6/api/iris.data/
ProyectoFinal/jupyter/app/.ipynb_checkpoints/
ProyectoFinal/jupyter/app/notebooks/.ipynb_checkpoints/
ProyectoFinal/jupyter/app/notebooks/data/