# Dependencias principales para la API #
numpy
pandas
scikit-learn==1.3.1
fastapi
uvicorn
pydantic
mlflow==2.17
boto3
prometheus-client==0.21.1
gradio
requests
sqlalchemy
psycopg2-binary
json

# Dependencias para testing ##
pytest==7.4.0
pytest-cov==4.1.0
httpx==0.24.1